*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    width: 100%;
    padding: 5%;
}
.heading{
    background-color: #b6b2b2;
    color: #444;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
.heading:hover{
    background-color: #706f6f;
}
.heading:after {
  content: '\002B'; 
  font-size: 20px;
  color: #000;
  float: right;
  margin-left: 5px;
}
.heading.active:after {
  content: "\2212";  
  font-weight: bold ;
  font-family: Arial, sans-serif;
}
.content{
    padding: 0 18px;
    background-color: rgba(225, 224, 224, 0.737);
    overflow: hidden;
    position: relative;
    max-height: 0;
    transition: max-height 0.2s ease;
}
